<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/><p>
<label for="tematica" class="rem">Tematica:</label>
<select id="tematica" name="quiz[tematica]">
  <% if (quiz.tematica !== "Otro") {%>
  <option value="<%= quiz.tematica %>" selected><%= quiz.tematica %></option>
  <% } %>
  <option value="Otro">Otro</option>
  <% if (quiz.tematica !== "Humanidades") {%>
  <option value="Humanidades">Humanidades</option>
  <% } %>
  <% if (quiz.tematica !== "Ocio") {%>
  <option value="Ocio">Ocio</option>
  <% } %>
  <% if (quiz.tematica !== "Ciencia") {%>
  <option value="Ciencia">Ciencia</option>
  <% } %>
  <% if (quiz.tematica !== "Tecnología") {%>
  <option value="Tecnología">Tecnología</option>
  <% } %>
</select>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
